---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle="Blog">
    <p>This is my text about Evil's dogs.</p>
    <ul>
      { allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />) }
    </ul>
</BaseLayout>